@use 'variables' as v;
@use 'mixins' as m;

.answers {
	padding: 150px 0;
	background-color: v.$white;

	&__title {
		text-align: center;
		@include m.text(36px, 600, v.$black);
		margin: 0 0 50px 0;
	}

	&__questions {
		@include m.flexbox(start, start, 40px, column);

		.question {
			@include m.flexbox(start, start, 30px, column);

			.text-toggler {
				display: none;
			}

			.text-toggler:checked ~ .question__description {
				display: block;
			}

			.text-toggler:checked ~ .label {
				.question__title {
					.title__direct {
						text-shadow: rgb(0, 0, 0) 1px 0px 0px,
							rgb(0, 0, 0) 0.540302px 0.841471px 0px,
							rgb(0, 0, 0) -0.416147px 0.909297px 0px,
							rgb(0, 0, 0) -0.989992px 0.14112px 0px,
							rgb(0, 0, 0) -0.653644px -0.756802px 0px,
							rgb(0, 0, 0) 0.283662px -0.958924px 0px,
							rgb(0, 0, 0) 0.96017px -0.279415px 0px;
					}

					.label__arrow {
						transform: rotate(90deg);
					}
				}
			}

			&__title {
				@include m.flexbox(start, center, 15px);
				cursor: pointer;

				.label__arrow {
					display: flex;
					transition: all 0.33s;

					i {
						color: v.$font-orange;
					}
				}

				.title__direct {
					@include m.text(24px, 500, v.$font-orange);
					text-wrap: nowrap;
				}
			}

			&__description {
				display: none;
				max-width: 730px;
				@include m.text(18px, 400, v.$font-grey);
			}
		}
	}
}
