* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Oswald, sans-serif;
	background: url(../assets/Rectangle.jpg);
}

.container {
	max-width: 1020px;
	padding: 0 10px;
	margin: 0 auto;
}
