@mixin flexbox($just, $align, $gap: 0) {
	display: flex;
	justify-content: $just;
	align-items: $align;
	gap: $gap;
}

@mixin text($fontsize, $fontweight, $fontcolor) {
	font-size: $fontsize;
	font-weight: $fontweight;
	color: $fontcolor;
}
