@use 'variables' as v;
@use 'mixins' as m;

.reviews-section {
	padding: 80px 5px;
	background-color: v.$white;

	.reviews {
		@include m.flexbox(start, center, 60px, column);
		padding: 0;

		&__title {
			@include m.text(34px, 500, v.$black);
			text-transform: uppercase;
			margin: 0;
		}

		&__content {
			@include m.flexbox(space-between, center, 30px, row);

			@media (max-width: 820px) {
				@include m.flexbox(start, center, 70px, column);
			}

			.figure {
				@include m.flexbox(start, start, 30px, column);

				&__wrapper {
					@include m.flexbox(start, start, 12px, column);
					min-height: 260px;
					max-width: 350px;
					background-color: v.$back-card;
					align-self: center;

					i {
						margin: 20px auto 0 30px;
						font-size: 44px;
						color: v.$font-orange;
						width: 40px;
					}

					.figure__description {
						@include m.text(14px, 400, v.$font-grey);
						margin: 0 30px 40px;
					}
				}

				&__name-tag {
					.figure__name {
						@include m.text(22px, 700, v.$black);

						span {
							color: v.$font-orange;
						}
					}

					@media (max-width: 1100px) {
						& {
							text-align: center;
							padding: 0 30px;
						}
					}
				}
			}
		}
	}
}
