@use 'variables' as v;
@use 'mixins' as m;

.work-offers {
	background-color: v.$white;
	padding: 150px 0;
	height: 100%;

	&__wrapper {
		height: 640px;
		@include m.flexbox(space-between, center, 0, column);

		.work-offers__title {
			@include m.text(40px, 700, v.$black);
		}

		.work-offers__grid-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 30px;

			.work-offers__grid-element {
				height: 250px;
				max-width: 350px;
				padding: 60px 90px;
				text-wrap: wrap;
				@include m.flexbox(space-between, center, 0, column);
				text-align: center;
				background-color: v.$back-card;
				border-radius: 40px;
				cursor: pointer;
				-webkit-box-shadow: 3px 3px 15px 5px rgba(194, 194, 169, 1);
				-moz-box-shadow: 3px 3px 15px 5px rgba(194, 194, 169, 1);
				box-shadow: 3px 3px 15px 5px rgba(194, 194, 169, 1);
				transition: all 0.3s;

				i {
					font-size: 60px;
					color: v.$font-orange;
				}

				.grid-element__title {
					@include m.text(18px, 600, v.$black);
				}
			}
			.work-offers__grid-element:hover {
				scale: 1.05;
			}
		}
	}

	@media (max-width: 1100px) {
		& {
			padding: 80px 0;
		}

		.work-offers__wrapper {
			gap: 50px;
			height: 100%;
		}

		.work-offers__grid-container {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			height: 100%;
		}
	}

	@media (max-width: 830px) {
		.work-offers__wrapper {
			text-align: center;
		}

		.work-offers__grid-container {
			@include m.flexbox(start, center, 30px, column);
		}
	}
}
